<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modulariz</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
    <script src="webjars/vue/1.0.21/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6" id="accountController">
                <h1>Users</h1>
                <table class="table table-striped">
                    <tr v-for="account in accounts">
                       <td>{{ account.name }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6"
                 id="exchangeController">

                <h1>Exchanges</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Receiver</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tr v-for="exchange in exchanges">
                        <td>{{ exchange.owner }}</td>
                        <td>{{ exchange.receiver }}</td>
                        <td>{{ exchange.state }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
</body>
</html>